<aside class="col-sm-12 col-md-4 col-lg-4" style="background: rgba(255,255,255,.05) !important;padding:0px !important;">
  <% var recentPost = posts.reverse();
     recentPost.forEach(function(recentPost){ %>
  <div class="col-sm-12 news-sidebar-item" style="min-height:80px !important;max-height:100px !important;">
    <a id="news-sidebar-item" href="/news/<%= recentPost.url_slug %>" style="height: auto !important;">
      <div class="col-sm-4" style="margin: 5px; height: auto !important; background: url(<%= recentPost.image %>) center center no-repeat !important;background-size: cover !important;min-height:80px !important;">
      </div>
      <div class="col-sm-8" style="padding: 5px;height: auto !important">
        <p style="margin-bottom:0px;font-size:12px !important;font-weight:500 !important;text-transform:uppercase !important;"><%= recentPost.category %></p>
        <p class="text-white" style="margin-bottom:0px;font-size:14px !important;"><%= recentPost.title.substring(0, 50) %></0>
        <p style="margin-bottom:0px;font-size:13px !important;"><small><%= recentPost.date.toDateString() %></small></p>
      </div>
    </a>
  </div>
  <% }); %>
</aside>
