<div id="software-features" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <h2 id="software-feature-title"><%= software.featureTitle %></h2>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <img id="software-feature-image" src="<%= software.feature1img %>" alt="">
      <h4 id="software-feature-inner-title"><%= software.feature1title %></h4>
      <p id="software-feature-description"><%= software.feature1description %></p>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <img id="software-feature-image" src="<%= software.feature2img %>" alt="">
      <h4 id="software-feature-inner-title"><%= software.feature2title %></h4>
      <p id="software-feature-description"><%= software.feature2description %></p>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <img id="software-feature-image" src="<%= software.feature3img %>" alt="">
      <h4 id="software-feature-inner-title"><%= software.feature3title %></h4>
      <p id="software-feature-description"><%= software.feature3description %></p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="empty-space-20"></div>
      <hr style="border-color:rgba(255,255,255,.15) !important;">
    </div>
  </div>
</div>
