<% include ../partials/header %>
<div class="container-fluid" style="background:url(/images/checkout-bg.jpg) top center no-repeat;">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" style="max-width: 50%;margin-left: 25%;margin-top: 50px !important;">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7">
          <form action="/shop/checkout/payment/<%= software.id %>" method="POST" id="payment-form">
            <fieldset class="form-group">
              <label for="name">Name</label>
              <input type="text" name="address" class="form-control">
            </fieldset>
            <fieldset class="form-group">
              <label for="address">Address</label>
              <input type="text" name="address" class="form-control">
            </fieldset>
            <fieldset class="form-group">
              <label for="city">City</label>
              <input type="text" name="city" class="form-control">
            </fieldset>

            <label for="card">Credit or debit card</label>
            <div id="card" class="form-control" style="background: #fff;padding: 5px !important;"></div>
            <div id="card-errors" role="alert"></div>
            <input type="submit" class="btn btn-primary btn-block btn-buynow" value="Pay Now">
          </form>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-5">
          <img src="<%= software.checkoutBg %>" style="max-width:240px;height:auto;" alt="">
          <h6 style="text-transform: uppercase;margin-top:10px;">You are purchasing</h6>
          <p style="font-weight:500 !important;color:#fff !important;"><%= software.name %> - <%= software.category %></p>
          <div class="empty-space-20"></div>
          <h5>Total</h5>
          <h3>USD<%= software.price %></h3>
          <div class="empty-space-20"></div>
          <p>Need help? <a href="#" style="text-decoration:underline !important;">Contact support</a></p>
          <div class="empty-space-20"></div>
          <h6 style="text-transform: uppercase;">We accept</h6>
          <i style="font-size: 24px !important;padding:4px !important;" class="checkout-cc-icons fa fa-cc-visa"></i>
          <i style="font-size: 24px !important;padding:4px !important;" class="checkout-cc-icons fa fa-cc-mastercard"></i>
          <i style="font-size: 24px !important;padding:4px !important;" class="checkout-cc-icons fa fa-cc-amex"></i>
          <i style="font-size: 24px !important;padding:4px !important;" class="checkout-cc-icons fa fa-cc-discover"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer-checkout %>
