<% include ../partials/header %>
<% include ../components/home-slider %>
<section id="software">
  <div class="container-fluid software-container">
    <div class="row">
      <div class="col-12">
        <h2 class="news-heading-both"><a href="https://marketingdepot.ca/news/"style="text-decoration: none !important;"><span class="top-news text-white">Software</span><span class="view-all-news"> View all software &gt;</span></a></h2>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 software-grid"></br>
        <h5>Marketing Depot</h5>
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3" style="padding-right: 20px !important; padding-left:0px !important;">
            <a href="/probuilder" style="display:block;">
              <div class="col-12 software-box" style="background-image: url(images/pro-builder-grid-2.jpg) !important;">
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3" style="padding-right: 20px !important; padding-left:0px !important;">
            <a href="#">
              <div class="col-12 software-box" style="background-image: url(images/pro-leads-grid-2.jpg) !important;">
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3" style="padding-right: 20px !important; padding-left:0px !important;">
            <a href="#">
              <div class="col-12 software-box" style="background-image: url(images/md-phones-grid-2.jpg) !important;">
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3" style="padding-right: 20px !important; padding-left:0px !important;">
            <a href="#">
              <div class="col-12 software-box" style="background-image: url(images/watchtower-grid-2.jpg) !important;">
              </div>
            </a>
          </div>
        </div>
      <div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 software-grid-soon"></br>
    <h5>Coming Soon</h5>
    <div class="col-sm-12 col-md-3 col-lg-3" style="padding-right: 20px !important; padding-left:0px !important;">
      <a href="#">
        <div class="col-12 software-box" style="background-image: url(images/pro-builder-grid-2.jpg) !important;min-width:201px !important;">
        </div>
      </a>
    </div>
  </div>
  </div>
  </div>
  </div>
  <div class="container-fluid" style="background:#410988;border-top:1px solid rgba(255,255,255,.3) !important;border-bottom:1px solid rgba(255,255,255,.3) !important;">
    <div class="col-12">
      <h3 style="text-align: center;padding-top:20px !important;padding-bottom:10px !important;" class="text-white">All software, one app:&nbsp;<span style="color: #8125e4;"><a style="color: #8125e4 !important;text-decoration: none !important;" href="#">MD Pro Desktop App</a></span></h3>
    </div>
  </div>
</section>
<section id="news">
    <div class="container-fluid news-container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
          <h2 class="news-heading-both"><a href="https://marketingdepot.ca/news/"style="text-decoration: none !important;"><span class="top-news text-white">Top Stories</span><span class="view-all-news"> View all news &gt;</span></a></h2>
          <% var top = posts.slice(-1);
            top.reverse();
            top.forEach(function(top){ %>
          <% %>
            <a id="featured-news-home-top" href="/news/<%= top.url_slug %>">
              <div class="card news-featured-card">
                <div class="card-img-wrapper-top">
                  <div class="card-img-top news-featured-card-img-top" style="background: url(<%= top.image %>);" alt="Card image cap"></div>
                </div>
                <div class="card-body news-featured-card-body">
                  <p class="card-title"><%= top.category %></p>
                  <h4 class="card-text text-white"><%= top.title %></h4>
                  </br>
                  <button class="btn btn-primary" style="width:70%;">Learn More</button>
                </div>
              </div>
            </a>
            <% }); %>
          <div class="row" style="margin-top:20px !important;">
            <% var bottom = posts.slice(-3);
              bottom.reverse();
              bottom.forEach(function(bottom){ %>
            <div class="col-sm-12 col-md-12 col-lg-4">
              <a id="featured-news-home-top" href="#">
                <div class="card news-featured-card" style="width: 100%;">
                  <div class="card-img-wrapper-bottom">
                    <div class="card-img-top news-card-img-top" style="background: url(<%= bottom.image %>);" alt=""></div>
                  </div>
                  <div class="card-body secondary-card-body">
                    <p class="card-title"><%= bottom.category %></p>
                    <h4 class="card-text text-white"><%= bottom.title %></h4>
                  </div>
                </div>
              </a>
            </div>
            <% }); %>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-4">
          <h2 class="text-white">Upcoming Events</h2>
          <% include ../components/home-events-list %>
        </div>
      </div>
    </div>
</section>
<% include ../partials/main-footer %>
