<% include ../partials/header %>
<div class="container-fluid" style="margin-top:-80px !important;padding-top:80px !important;background:url(/images/checkout-bg.jpg) top center no-repeat;">
  <div class="container p-5">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h5><%= post.category %></h5>
          <h1 class="text-white"><%= post.title %></h1>
          <p><span style="color:#A476DE !important;"><%= post.author %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= post.date.toDateString() %></p>
          <img src="<%= post.image %>" width="100%">
        </div>
        <div class="empty-space-20"></div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <%- post.content %>
        </div>
        <div class="empty-space-20"></div>
        <div class="col-sm-12 col-md-12 col-lg-12" style="display: inline-flex !important;">
          <a class="btn btn-primary" href="/news/<%= post._id %>/edit" style="margin:5px !important;width: 100px !important;">Edit</a>
          <form id="delete" action="/news/<%= post._id %>?_method=DELETE" method="POST" style="margin:5px !important;width: 100px !important;">
            <button class="btn btn-primary" style="width: 100px !important;">Delete</button>
          </form>
        </div>
      </div>
      <% include ../partials/news-sidebar %>
    </div>
  </div>
</div>
<% include ../partials/main-footer %>
